body {
  background-color: rgb(213, 252, 252);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 100px;

  /* background-image: linear-gradient(to bottom, red, yellow); */
}
p {
  text-align: left;
}

#namareporter {
  font-weight: bold;
  font-size: xx-small;
}
.publis {
  text-align: center;
  font-size: xx-small;
}
a:link {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 156);
  font-size: large;
}
a:visited {
  text-decoration: none;
  color: blue;
}
.agakmasuk {
  margin-left: 20px;
}
.gambar {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}